.navigation--secondary {
    background-color: $gray10;
    ul {
        border-bottom: $border-narrow solid $gray70;
        li {
            a {
                color: $gray100;
            }
            &:not(:first-child) {
                margin-left: $rem--threequarters;
            }
            &:not(:last-child) {
                &:after {
                    content: '';
                    border: $border-narrow solid $red60;
                    transform: rotate(15deg) translateY(86%);
                    position: absolute;
                    height: $rem--one;
                    margin-left: $rem--half;
                }
            }
        }
    }
}